/*
	@name forma
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#_bg__schedule_an_appointment {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(47,45,45,1);
}


#_101295782_185738456069288_8541161158134988800_n_1 {
	top: 65px;
	left: 1307px;
	width: 67px;
	height: 66px;
}


#home {
	top: 79px;
	left: 82px;
	width: 93px;
	height: 55.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#find_your_score {
	top: 79px;
	left: 226px;
	width: 210px;
	height: 55.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#schedule {
	top: 79px;
	left: 427px;
	width: 210px;
	height: 55.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color:#FBA704;
}


#faq {
	top: 79px;
	left: 634px;
	width: 95px;
	height: 55.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#meet_the_physical_therapists {
	top: 234px;
	left: 76px;
	width: 499px;
	height: 76px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_67447204_2769570953057522_1771970074580615168_n_1 {
	top: 366px;
	left: 94px;
	width: 144px;
	height: 146px;
}


#_67447204_2769570953057522_1771970074580615168_n_2 {
	top: 760px;
	left: 94px;
	width: 144px;
	height: 146px;
}


#_67447204_2769570953057522_1771970074580615168_n_3 {
	top: 563px;
	left: 94px;
	width: 144px;
	height: 146px;
}


#allen_mcgrath {
	top: 358px;
	left: 305px;
	width: 223px;
	height: 63px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FBA704;
}


#april {
	top: 237px;
	left: 1057px;
	width: 228px;
	height: 70px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#favorite_pose__warrior_pose__location__san_franciso__ca_specialty_ {
	top: 414px;
	left: 305px;
	width: 292px;
	height: 113.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}


#line_25 {
	top: 407px;
	left: 305px;
	width: 201px;
	height: 1px;
	background:#FBA704;
}


#kathlyn_monroe {
	top: 559px;
	left: 305px;
	width: 223px;
	height: 63px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FBA704;
}


#favorite_pose__child_s_pose_location__salt_lake_city__ut_specialty_ {
	top: 615px;
	left: 305px;
	width: 304px;
	height: 115.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}


#line_26 {
	top: 608px;
	left: 305px;
	width: 201px;
	height: 1px;
	background:#FBA704;
}


#maya_kimoto {
	top: 760px;
	left: 305px;
	width: 223px;
	height: 63px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FBA704;
}


#favorite_pose__corpse_pose_location__honolulu__hi_specialty_ {
	top: 816px;
	left: 305px;
	width: 336px;
	height: 115.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 25px;
	text-align: left;
	color:#FFFFFF;
}


#line_27 {
	top: 809px;
	left: 305px;
	width: 201px;
	height: 1px;
	background:#FBA704;
}


#line_28 {
	top: 649px;
	left: 367px;
	width: 785px;
	height: 2px;
	
	-ms-transform:rotate(89.91deg);
	-o-transform:rotate(89.91deg);
	-webkit-transform:rotate(89.91deg);
	-moz-transform:rotate(89.91deg);
	transform:rotate(89.91deg);
	background:#FBA704;
}


#ellipse_33 {
	top: 251px;
	left: 754px;
	width: 13px;
	height: 12px;
	-ms-border-radius: 6.5px / 6px;
	-o-border-radius: 6.5px / 6px;
	-moz-border-radius: 6.5px / 6px;
	-webkit-border-radius: 6.5px / 6px;
	border-radius: 6.5px / 6px;
	background:rgba(251,167.36,5,1);
}


#line_30 {
	top: 408px;
	left: 810px;
	width: 533px;
	height: 2px;
	background:#FBA704;
}


#line_33 {
	top: 606px;
	left: 810px;
	width: 533px;
	height: 1px;
	background:#FBA704;
}


#line_34 {
	top: 674px;
	left: 810px;
	width: 533px;
	height: 1px;
	background:#FBA704;
}


#line_31 {
	top: 468px;
	left: 810px;
	width: 533px;
	height: 1px;
	background:#FBA704;
}


#line_32 {
	top: 540px;
	left: 810px;
	width: 533px;
	height: 1px;
	background:#FBA704;
}


#m {
	top: 353px;
	left: 886px;
	width: 71px;
	height: 68.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_1 {
	top: 414px;
	left: 1122px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#f {
	top: 353px;
	left: 1198px;
	width: 71px;
	height: 68.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#s {
	top: 353px;
	left: 1276px;
	width: 71px;
	height: 68.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#s_ek1 {
	top: 352px;
	left: 808px;
	width: 71px;
	height: 68.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#th {
	top: 353px;
	left: 1118px;
	width: 75px;
	height: 68.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#t {
	top: 353px;
	left: 964px;
	width: 71px;
	height: 68.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#w {
	top: 353px;
	left: 1044px;
	width: 71px;
	height: 68.5px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_2 {
	top: 414px;
	left: 1198px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_3 {
	top: 414px;
	left: 1277px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_4 {
	top: 484px;
	left: 809px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_5 {
	top: 484px;
	left: 887px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_6 {
	top: 484px;
	left: 965px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_7 {
	top: 484px;
	left: 1043px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_8 {
	top: 484px;
	left: 1121px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_9 {
	top: 484px;
	left: 1199px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_10 {
	top: 484px;
	left: 1277px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_11 {
	top: 551px;
	left: 809px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_12 {
	top: 551px;
	left: 887px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_13 {
	top: 551px;
	left: 965px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_14 {
	top: 551px;
	left: 1043px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_15 {
	top: 551px;
	left: 1121px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_16 {
	top: 551px;
	left: 1199px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_17 {
	top: 551px;
	left: 1277px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_18 {
	top: 618px;
	left: 809px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_19 {
	top: 618px;
	left: 887px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_20 {
	top: 618px;
	left: 965px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_21 {
	top: 618px;
	left: 1043px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_22 {
	top: 618px;
	left: 1121px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_23 {
	top: 618px;
	left: 1199px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_24 {
	top: 618px;
	left: 1277px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_25 {
	top: 686px;
	left: 809px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_26 {
	top: 686px;
	left: 887px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_27 {
	top: 686px;
	left: 965px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_28 {
	top: 686px;
	left: 1043px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_29 {
	top: 686px;
	left: 1122px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}


#_30 {
	top: 686px;
	left: 1199px;
	width: 68px;
	height: 65px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}

#group_230 {
	top: 949px;
	left: 340px;
	width: 49.7px;
	height: 25px;
}

#polygon_1 {
	top: 0px;
	left: 0px;
	width: 49.7px;
	height: 25px;
}


#polygon_2 {
	top: 0px;
	left: 0px;
	width: 49.7px;
	height: 21.43px;
}


#please_be_prepared_to_discuss_your_score_with_our_therapists__come_with_any_questions_and_concerns__your_physical_therapist_will_have_access_to_recorded_forma_sessions_available_for_review_ {
	top: 796px;
	left: 846px;
	width: 520px;
	height: 139px;
	overflow: hidden;
	font-family: Dosis;
	font-size: 20px;
	text-align: left;
	color:#FFFFFF;
}



/* Add your custom CSS here */
